{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h1>{{user.user.name}} 님 안녕하세요</h1>
    <br>
    <br>
    <a href="{% url 'insta_user:search' %}">검색</a>
    <a href="{% url 'insta_user:add' %}">
        <button>글쓰기</button>
    </a>
    <br>
    <a href="{% url 'insta_user:logout' %}">로그아웃 > </a>
    <br/>
    <br/>
{% else %}
    <a href="{% url 'insta_user:signup' %}">회원가입하러가기 > </a>
    <br/>
    <a href="{% url 'insta_user:login' %}">로그인하기  </a>
    <br/>
{% endif %}
    <br>
    {% for content in contents %}
    <img src="/media/{{content.image.url }}" alt="uploaded-image">
    <br>
    {{content.image.url}}
    <div>{{content.img_introduce}}</div>
    {% endfor %}

{% endblock content %}